<div class="home-page">
    <div class="home-page-content">
            <h1 class="dn-h1-home">Demo App</h1>
            <h3 class="dn-h3-home">Nothing special</h3>

            <%= link_to "Get started",'#', class: 'btn dn-home-get-started' %>
            <%= link_to "Login",'#', class: 'btn dn-home-login' %>
        </div>
</div>
